{% extends "base.html" %}

{% block title %}
Аккаунт
{% endblock %}

{% block content %}
<h1>Ваш аккаунт</h1>

<h2>Обновить профиль</h2>
<form method="post" action="{{ url_for('account') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
    </div>
    <div>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}
    </div>
    <div>
        {{ form.current_password.label }}<br>
        {{ form.current_password(size=32) }}
    </div>
    <div>
        {{ form.new_password.label }}<br>
        {{ form.new_password(size=32) }}
    </div>
    <div>
        {{ form.confirm_new_password.label }}<br>
        {{ form.confirm_new_password(size=32) }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}

